<!DOCTYPE html>
<html lang="en">
<head>
	<!-- bootstrap css -->
  	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<!-- custom styles -->
	<link rel="stylesheet" type="text/css" href="meal.css">
	<!-- custom styles navbar-->
	<link rel="stylesheet" type="text/css" href="nav.css">

	<meta charset="UTF-8">
	<title>Cooking breakfast</title>
</head>
<body>
	{{>nav}}
	<div class="container-full">
		<div class="row">
			<div class="col-md-12" id= "header">
				<img id="headerImg" src="http://www.oonkloof.co.za/wp-content/uploads/2015/07/bg-cuisine-alt.jpg">
				<h1 class="text-center carousel-caption" id="headerTitle">Breakfast</h1>
			</div>
		</div>
	{{#each breakfastRecipesData}}
		<div class="row recipeFrontRow">
		 	<div class="col-md-6 col-md-offset-3 recipeFront" id="{{_id}}">	
		 		
		 			<div class="col-md-4 text-left">
		 				<img class="justImg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzSeb_NylZz4vJOGYezXxWDAigcIFSzRkToa8yhPIApTDvnOFyBw">
		 			</div>
		 			<div class="col-md-4 text-left">
		 				<h1 class="nameTitle">{{name}}</h1>	
		 			</div>
		 			<div class="col-md-4 text-right">
		 				<h3 class="timeTitle">{{cooking_time}} min</h3>
		 				<button class="btn show pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
		 			</div>
		 			<div class="row description" id="desciption{{_id}}">
						 <div class="col-md-12 descriptionOfRecipe">	
 							<h5>Ingredients:</h5>
							<ol>
							
							{{#each ingredients}}	
				 				<li class='recipeIngredientList' id="{{_id}}"><img class= "liImg" src="{{item.image}}"> {{item.name}}- {{quantity}} {{measure}}</li>
							{{/each}}

 							</ol><br><hr>
 				
	 						<h5>Instructions:</h5>
	 						<article class="instructionsArticle">{{instructions}}</article>
						</div>
					</div>
		
			</div> 
		</div> 
		
	{{/each}}
</div>
	<!-- handlebars -->
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
	<!-- jquery -->
  	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  	<!-- bootstrap js -->
 	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- custom script -->
	<script type="text/javascript" src="meal.js"></script>
	<!-- custom script for breakfast-->
	<script type="text/javascript" src="breakfast.js"></script>
  
	
</body>
</html>