<!DOCTYPE html>
<html lang="en">
<head>
	<!-- bootstrap css -->
  	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<!-- custom styles -->
	<link rel="stylesheet" type="text/css" href="new_recipe.css">
	<!-- custom styles navbar-->
	<link rel="stylesheet" type="text/css" href="nav.css">

	<meta charset="UTF-8">
	<title>Cooking- Add New Recipe</title>
</head>
<body>
	{{>nav}}
	<div class="container-full">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center" id="header">
				<h1>Add A New Recipe</h1><hr>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" id="emptyDiv">
				
			</div>
		</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog"> 
      	<!-- Modal content-->
   		<div class="modal-content text-center">
        	<div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal">&times;</button>
	            <h4 id="modalTitle">Thank you for sharing your recipe!</h4>
        	</div>
      		<div class="modal-body">

		      	<h5 class="modal-title">would you like to cook?</h5><br>
		        <a href="/breakfast" class="btn btn-info btn-lg breakfastLink breakfast" id="popBreakfastDiv">Breakfast</a><br><br>
		        <a href="/lunch" class="btn btn-info btn-lg lunchLink" id="popLunchDiv">Lunch</a><br><br>
		        <a href="/dinner" class="btn btn-info btn-lg dinnerLink" id="popDinnerDiv">Dinner</a><br><br>
		        <p id="or">or</p>
		        <a href="/add" class="btn btn-info btn-lg" id="popAddDiv">Add another recipe</a><br><br>
     		</div>
    	</div>
  	</div>
  </div>





	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row">
	  			<div class="col-md-4">
					<form id="newRecipeForm">
	  					<div class="form-group">
	  						<input type="text" name="recipeName" class="form-control required" id="nameOfRecipe" placeholder="What Are You Cooking?">
	  					</div>
	  					<div class="form-group">
	  						<input type="text" name="dinnerNum" class="form-control" id="dinners" placeholder="For How Many Dinners?" required>
	  					</div>

	  					<div class="form-group">
	  						<input type="number" name="coockingTime" class="form-control" id="time" placeholder="estimated cooking time (in minuets)" required>
	  					</div>
						<select name="tagOfRecipe" class="form-control" id="tag" required>
							<option value="">Select meal</option>
							<option value="breakfast">Breakfast</option>
							<option value="lunch">Lunch</option>
							<option value="dinner">Dinner</option>
						</select>
					
	  
	  					<div class="form-group">
		    				<h5>Ingredients:</h5>
		    			</div>
						<div class="form-group form-inline">
						    <input type="text" class="form-control" id="searchIngredient" placeholder="Search an ingredient">
						    <button id="searchButton" class="btn btn-default">Search</button>
						</div>
						<div class="form-group" id="ingredientsResult">
							<div class="row" id="allTheIngredients">
								<script id= "listOfIngredients" type="text/x-hendlebars-template">
							    	\{{#each item}}
							    
							    		<div class="col-md-3">
							    			<div class="row">
							    				<div class="col-md-12 text-center">
													<img class="ingredientImg" id="img\{{_id}}" src=\{{image}}> 
												</div>
											</div>
											<div class="row">
							    				<div class="col-md-12 text-center">
							    					<p class="ingredientName" id="name\{{_id}}">\{{name}} </p>
							    				</div>
							    			</div>
										</div>
						    			
									<div class="col-md-5">
										<div class="row">
							    			<div class="col-md-12 text-center">
								    			<input type="text" class="form-control quantityOfItem text-center" id="quantity\{{_id}}" placeholder="Quantity">
								    		</div>
								    	</div>
								    	<div class="row">
							    			<div class="col-md-12 text-center">
								    			<select class="form-control measure" id="measure\{{_id}}" required>
													<option value="">measurment</option>
													<option>Can</option>
													<option>Cup</option>
													<option>Gr</option>
													<option>Lb</option>
													<option>Leaves</option>
													<option>Ounts</option>
													<option>Piece</option>
													<option>Spoon</option>
													<option>TSP</option>
													<option>Other</option>
												</select>
							    			</div>
							    		</div>
								    </div>	
								
									<div class="col-md-4 text-center">
										<button class="addIngredient btn btn-primary btn-block" id="\{{_id}}">Add</button>
									</div>

							    \{{/each}}
							    </script>	
							</div>
						</div>
							
										
		    			<ol id="selectedIngredients">
		    						
	 					</ol> 
	
			  				<div class="form-group">
				  				<h5>Image of your dish:</h5>
				   				<input type="file" id="dishImage" required>
				   			</div>
		   					</div> 	

				  			<div class="col-md-8">
						  		<div class="form-group">
						    		<textarea class="form-control" id="instructions" placeholder="Please write here the instructions" rows="16" required></textarea>   
						  		</div>
						  	</div>
						</div>

			  		<div class="row">
			  			<div class="col-md-12 text-center">
			  				<button type="submit" id="submitRecipe" class="btn btn-primary text-center">Post My Recipe!</button>
			  			</div>
			  		</div>
				</form>
			</div>
		</div>
	</div>

	<!-- handlebars -->
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
	<!-- jquery -->
  	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  	<!-- bootstrap js -->
 	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 	<!-- jquery validate -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
	<!-- custom validation script -->
	<script type="text/javascript" src="validations.js"></script>
	<!-- custom script -->
	<script type="text/javascript" src="main.js"></script>
	
 	
	
</body>
</html>